@import "./nullstyle.css";

@font-face {
  font-family: "Proxima Nova";
  src: url("./Fonts/proximanova_regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("./Fonts/proximanova_bold.otf") format("truetype");
  font-style: bold;
  font-weight: bold;
}



body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: "Proxima Nova";
}

.App {

  padding: 2rem;
}

.App_nonactive {
  display: flex;
  flex-wrap: wrap;
  padding: 5rem;
  opacity: 0.5;
}

